<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Resultado de la Evaluación</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: url('images/evaluation.jpg') no-repeat center center fixed;
      background-size: cover;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .container {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 800px;
      width: 90%;
      text-align: center;
    }
    h1 {
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
    p {
      font-size: 18px;
      color: #555;
      margin-bottom: 20px;
    }
    a {
      display: inline-block;
      background-color: #3498db;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      margin-right: 10px;
    }
    a:hover {
      background-color: #2980b9;
    }
  </style>
</head>
<body>
  <div class="container">
    <p> Felicidades, has completado la evaluación con éxito!! </p>
    <h1>Resultado de la Evaluación</h1>
    <p>Tu puntuación: <%= score %> de <%= @questions.count %></p>
    <a href="/select_system">Regresar a la selección de sistema</a>
    <a href="/select_level/:system"> Seleccionar otro nivel</a>
  </div>
</body>
</html>
