<style>
  /* Agregar un poco de espacio entre los elementos */
  form label,
  form input,
  form button,
  form p {
    margin-bottom: 10px; /* Espacio entre cada elemento */
  }
</style>

<h1>Login</h1>
<form method="POST" action="/login">
  <label>Email:</label>
  <input type="email" name="email" required><br>
  <label>Password:</label>
  <input type="password" name="password" required><br>
  <button type="submit">Login</button>
</form>
<% if locals[:message] %>
  <p><%= locals[:message] %></p>
<% end %>
