<p>Welcome, <%= @user.username %>!</p>

<h1>Elige con qué sistema quieres jugar</h1>

<ul>
  <li><a href="/play?system=digestivo">Sistema Digestivo</a></li>
  <li><a href="/play?system=respiratorio">Sistema Respiratorio</a></li>
  <li><a href="/play?system=circulatorio">Sistema Circulatorio</a></li>
  <li><a href="/play?system=reproductor">Sistema Reproductor</a></li>
</ul>


<a href="/logout">Logout</a>