<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Seleccionar Sistema - AnatomyEasy</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f8ff; 
      color: #333;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }
    h1 {
      color: #2c3e50;
      margin-bottom: 20px;
    }
    .system-selection {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    .system {
      width: 200px;
      text-align: center;
    }
    .system img {
      width: 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
    .system img:hover {
      transform: scale(1.05);
    }
    .system p {
      margin-top: 10px;
      font-size: 1.1em;
      color: #3498db;
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: #3498db;
    }
    a:hover {
      color: #2980b9;
    }
    .user-actions {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      gap: 15px;
    }

    .user-actions a {
      font-size: 24px;
      color: #333;
      text-decoration: none;
    }

    .user-actions a:hover {
      color: #000;
    }

  </style>
</head>
<body>
  <h1>Elige que sistema quieres aprender</h1>
  <p>Bienvenido, <%= @user.names %>!</p>
  <div class="system-selection">
    <div class="system">
      <a href="/select_level/digestivo">
        <img src="/images/digestivo.jpeg" alt="Sistema Digestivo">
        <p>Sistema Digestivo</p>
      </a>
    </div>
    <div class="system">
      <a href="/select_level/respiratorio">
        <img src="/images/respiratorio.jpeg" alt="Sistema Respiratorio">
        <p>Sistema Respiratorio</p>
      </a>
    </div>
    <div class="system">
      <a href="/select_level/circulatorio">
        <img src="/images/circulatorio.jpeg" alt="Sistema Circulatorio">
        <p>Sistema Circulatorio</p>
      </a>
    </div>
    <div class="system">
      <a href="/select_level/reproductor">
        <img src="/images/reproductor.jpeg" alt="Sistema Reproductor">
        <p>Sistema Reproductor</p>
      </a>
    </div>
  </div>
  <div class="user-actions">
    <!-- Icono de perfil -->
    <a href="/profile"title="Perfil de usuario"> 
      <i class="fas fa-user-circle"></i>
    </a>
  
    <!-- Icono de cerrar sesión -->
    <a href="/logout" title="Cerrar sesión">
      <i class="fas fa-sign-out-alt"></i>
    </a>
</div>
</div>
</body>
</html>
